---
---

@import "{{ site.theme }}";
input[type="text"] {
  border: 1px solid #808080;
  border-radius: 5px;
  height: 30px;
  font: normal normal normal normal 20px/normal 'Noto Sans';
  color: #404040;
  margin-bottom: 5px;
}
section {
  font: normal normal normal normal 20px/normal 'Noto Sans';
  color: #404040;
}
